:root {
  --bg-color: #292929;
  --text-color: #b7b7b7;
  --thirty-color: #00ccbb;
  --fourt-color: #ee7700;
  --second-color: #7f9492;
  --base-black: #000;
  --bg-btn-color: #aa9944;
  --separator-color: #83838355;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Source Code Pro', monospace;
}

.title--shadow {
  text-shadow: 1px 1px 1px var(--base-black), -1px 1px 1px var(--base-black),
    1px -1px 1px var(--base-black), -1px -1px 1px var(--base-black);
}

.main-section {
  max-width: 1440px;
}

.box-photo {
  margin-top: 60px;
  text-align: center;
}

.photo-dev {
  border: 3px solid var(--second-color);
  width: 150px;
}

.main_title {
  color: var(--thirty-color);
  font-family: 'Megrim', cursive;
  font-size: 3em;
  text-align: center;
}

.title-section {
  background-color: var(--second-color);
  color: var(--fourt-color);
  font-family: 'Megrim', cursive;
}

.color-orange {
  color: var(--fourt-color);
}

.color-gray {
  color: var(--second-color);
  font-weight: 700;
}
