body {
  background-color: #292929;
  color: #b7b7b7;
  font-family: 'Source Code Pro', monospace;
}

.title {
  color: #0cb;
  font-family: 'Megrim', cursive;
  font-size: 3em;
  text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000,
    -1px -1px 1px #000;
}

.title-section {
  background-color: #7f9492;
  color: #e70;
  font-family: 'Megrim', cursive;
  text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000,
    -1px -1px 1px #000;
}

.color-orange {
  color: #e70;
}

.color-gray {
  color: #7f9492;
  font-weight: 700;
}
