:root {
  --bg-color: #272727;
  --text-color: #b7b7b7;
  --second-text-color: #838383;
  --thirty-color: #00ccbb;
  --fourt-color: #ee7700;
  --second-color: #7f9492;
  --base-black: #000;
  --bg-btn-color: #aa9944;
  --separator-color: #83838355;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Source Code Pro', monospace;
  max-width: 940px;
  margin-left: 15px;
}

.title--shadow {
  text-shadow: 1px 1px 1px var(--base-black), -1px 1px 1px var(--base-black),
    1px -1px 1px var(--base-black), -1px -1px 1px var(--base-black);
}

.main-section {
  max-width: 940px;
}

.box-photo {
  margin-top: 60px;
  text-align: center;
}

.photo-dev {
  border: 3px solid var(--second-color);
  width: 150px;
}

.main_title {
  color: var(--thirty-color);
  font-family: 'Megrim', cursive;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 30px;
  text-align: center;
}

.main_subtitle {
  color: var(--second-text-color);
  font-size: 1.3em;
  font-weight: 400;

  margin: 15px auto;
  text-align: center;
  width: 215px;
}

.btn {
  background-color: var(--bg-btn-color);
  border-radius: 3px;
  box-shadow: 3px 3px 2px var(--base-black);
  color: var(--base-black);

  text-align: center;
  text-decoration: none;
  text-shadow: 1px 0px 0px var(--fourt-color), -1px 0px 0px var(--fourt-color),
    0px 1px 0px var(--fourt-color), 0px -1px 0px var(--fourt-color);
}

.btn-crl {
  display: block;
  font-family: 'Megrim', cursive;
  font-weight: 700;
  margin: auto;
  padding: 9px 10px;
  width: 95px;
}

.box-title {
  background-color: var(--second-color);
  display: inline-block;
  position: relative;
  right: 10px;
  width: 11em;
}

.title-section {
  color: var(--fourt-color);
  font-family: 'Megrim', cursive;
  margin: 11px;
  text-align: center;
}

.color-orange {
  color: var(--fourt-color);
}

.color-gray {
  color: var(--second-color);
  font-weight: 700;
}

.form {
  margin-top: 30px;
}

.label {
  color: var(--second-text-color);
  display: block;
  margin: 10px 0px 3px 5px;
}

input {
  margin-left: 5px;
}

input {
  border: 0px solid;
  border-radius: 3px;
  height: 30px;
  width: 320px;
}

*:focus {
  outline: 0;
}

textarea {
  border: 0 solid;
  border-radius: 3px;
  margin-left: 5px;
  resize: none;
  width: 320px;
}

.btn-submit {
  display: block;
  margin: 10px 0;
  padding: 5px;
  width: 100px;
  position: relative;
  left: 220px;
}
